<!-- Footer
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Providing professional-grade admin services with the best UI/UX design.</p>
          <p>&copy; 2024 Made by Mayank . All rights reserved.</p>
        </div>
        <div class="col-md-4">
        <h5>Quick Links</h5>
        <a href="#">Instagram</a><br>
        <a href="#">Linkdin</a><br>
        
      </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: mayankpal199523@gmail.com</p>
          <p>Phone: 8860044187</p>
        </div>
        </footer> -->
    </body>
    </html>